https://clashstats.download {
    root /app

    tls /root/.caddy/clashstats_download.crt /root/.caddy/clashstats_download.pem

    proxy / 0.0.0.0:8080 {
        transparent        
    }

    gzip
    log stdout
    errors stdout
}

http://clashstats.download {
    redir / https://clashstats.download
}
