{% extends "layout.html" %}
{% block body %}
<main class="container">
    <div class="row">
        <div class="col-md-4 text-lg-right">
            <img src="{{ url_for('static', filename='oops.png') }}" alt="Hog Rider">
        </div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="display-3">Hey, Chief!</h1>
                <p class="lead">
                    Due to high usage, we have moved to a new place! Please update your bookmarks to
                    <a href="http://clashstats.download/">http://clashstats.download/</a>.
                                        
                </p>

            </div>
        </div>
    </div>
</main>
{% endblock %}
