{% extends "layout.html" %}
{% block body %}
<main class="container">
    <div class="columns is-centered is-vcentered">
        <div class="column is-3">
            <img src="{{ url_for('static', filename='oops.png') }}" alt="Barbarian">
        </div>
        <div class="column">
            <section class="hero">
                <div class="hero-body">
                    <h1 class="title is-1">
                        Oops!
                    </h1>
                    <p>I couldn't find your clan. Are you sure you entered the right tag?</p>
                    <p>It should be similar to "#UGJPVJR" and make sure to include the hash tag.</p>
                    <p class="section">
                        <a href="{{ url_for('index') }}" class="button is-large is-warning">Try again</a>
                    </p>
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock %}
